# .github/dependabot.yml
version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    # Customizes the commit message
    commit-message:
      prefix: "fix"
      include: "scope"
    groups:
      production-dependencies:
        dependency-type: "production"
      dev-dependencies:
        dependency-type: "development"
