# The url directadmin url
# include the scheme and the port number (usually 2222)
directadmin_url = https://directadmin.example.com:2222

# The DirectAdmin username
directadmin_username = user

# The DirectAdmin password/Login Key for the account
directadmin_password = hunter2

# vi:syntax=ini
