# The url directadmin url
# include the scheme and the port number (usually 2222)
certbot_dns_directadmin:directadmin_url = https://directadmin.example.com:2222

# The DirectAdmin username
certbot_dns_directadmin:directadmin_username = user

# The DirectAdmin password/Login Key for the account
certbot_dns_directadmin:directadmin_password = hunter2

# vi:syntax=ini
